<div class="container">
  <div class="topbar">
    <div class="titleName">SIEMENS</div>
  </div>
  <div class="leftIconBar">
    <div><md-icon class="leftMenuIcon">chat</md-icon></div>
    <div><md-icon class="leftMenuIcon">person</md-icon></div>
    <div><md-icon class="leftMenuIcon">group</md-icon></div>
  </div>
  <div class="leftThreads">
    <div class="group selectedgroup">
      <div class="avatar">
        <span class="avatartext">WinCC1</span>
      </div>
      <div class="threadTitle">Group1</div>
      <div class="chatText">Alarm 1 rang!</div>
    </div>
    <div class="group">
      <div class="avatar">
        <span class="avatartext">WinCC2</span>
      </div>
      <div class="threadTitle">Group2</div>
      <div class="chatText">The Problem has been resolved!</div>
    </div>
    <div class="group">
      <div class="avatar">
        <span class="avatartext">WinCC3</span>
      </div>
      <div class="threadTitle">Group3</div>
      <div class="chatText">Reminder, fix problem till 5 pm</div>
    </div>
    <div class="group">
      <div class="avatar">
        <span class="avatartext">WinCC4</span>
      </div>
      <div class="threadTitle">Group4</div>
      <div class="chatText">All processes working fine</div>
    </div>
    <div class="group">
      <div class="avatar">
        <span class="avatartext">WinCC4</span>
      </div>
      <div class="threadTitle">Group4</div>
      <div class="chatText">Automation happening</div>
    </div>

  </div>
   <div class="chat">
     <div class="chatResponse">
       <div class="avatar">
        <span class="avatartext">WinCC1</span>
      </div>
      <div class="chatResponseText">
        Alarm1: Warning check the machines
      </div>
     </div>

     <div class="chatResponse lightChat">
       <div class="avatar">
        <span class="avatartext">WinCC1</span>
      </div>
      <div class="chatResponseText">
        Alarm2: Please check the machines here
      </div>
     </div>

     <div class="chatResponse">
       <img style="float:left; margin-right:17px;" width="60" height="60px" src="../assets/images/avatar.png" />
      <div class="chatResponseText">
        Don't worry I will solve the issue
      </div>
     </div>

     <div class="chatResponse lightChat">
       <img style="float:left; margin-right:17px;" width="60" height="60px" src="../assets/images/avatar2.png" />
      <div class="chatResponseText">
        Yes please, looks urgent
      </div>
     </div>

  </div>
  
</div>