.container {
    width: 100%;
}
.topbar {
    width: 900px;
    padding: 20px;
    border: 1px green solid;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.titleName {
    font-weight: bold;
    color: #009999;
}

.leftIconBar {
    margin-left: 20px;
    width: 54px;
    float: left;
    min-height: 500px;
    border: 1px green solid;
    border-radius: 5px;
    text-align: center;
}

.leftThreads {
    width: 210px;
    float: left;
    min-height: 500px;
    border: 1px green solid;
    border-radius: 5px;
    margin-left: 2px;
    background: #009999;
}

.chat {
    width: 668px;
    margin-left: 2px;
    float: left;
    min-height: 500px;
    border: 1px green solid;
    border-radius: 5px;
}

.leftMenuIcon {
    font-size:40px;
    margin-top:75px;
    margin-right: 10px;
}

.group {
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px green solid;
    border-radius: 2px;
    overflow: auto;
    background: white;
}

.avatar {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: gold;
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
}

.avatartext {
    position: absolute;
    top: 23px;
    margin-left: 4px;
}

.threadTitle {
    float: left;
    margin-left: 10px;
    margin-top: 8px;
    font-weight: bold;
}
.chatText {
    float: left;
    font-size: 12px;
    margin-top: 4px;
    max-width: 120px;
}

div.group.selectedgroup {
    background: #009999;
}

.chatResponse {
   padding: 7px;
    min-height: 62px;
    border-radius: 10px;
    background: steelblue;
    margin: 10px;
}

div.chatResponse.lightChat {
    background: lightsteelblue;
}

.chatResponseText {
    float: left;
    margin-top: 4px;
    max-width: 450px;
}